@model IEnumerable<CourseModel>

<body>
    <table>
        <tr>
            <td>
                <h2>
                    Add new course
                </h2>
                <form action="CreateCourse" method="post">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    Course ID:
                                </div>
                                <input type="text" name="id" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    Title:
                                </div>
                                <input type="text" name="title" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    Credit Hours:
                                </div>
                                <input type="text" name="hours" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Delete course</h2>
                <form action="DeleteCourse" method="post">
                    <table>
                        <tr>
                            <td>
                                <duv>
                                    Course ID:
                                </duv>
                                <input type="text" name="id" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Submit" />
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>

    <br /><br />

    <h2>
        Courses:
    </h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Course ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    Credit Hours
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.Title</td>
                    <td>@course.CreditHours</td>
                </tr>
            }
        </tbody>
    </table>

</body>
